openapi: 3.0.3
info:
  title: Fonzip API v2 Documents
  description: |
      ## This document includes the API v2 information for Fonzip
      
      To create an API key, you should navigate to **Settings > Advanced > Fonzip API** from the navigation menu and click **Create an API key**.

      If you want to develop an application that uses Fonzip API via Oauth v2, please contact with us.

      Fonzip API is limited to 240 requests per minute. Make sure to handle HTTP 429.

      If you receive HTTP error codes 520, 521 or 523 please contact us with IP addresses sending the request.
      
      Please contact with us in case of questions, requests or problems.
  version: '2.40.0'
  contact:
    name: Fonzip Support Team
    url: https://fonzip.com
    email: help@fonzip.com
  x-logo:
    url: https://s.fonzip.com/dist/public/img/logo/logo.svg
    altText: Fonzip API
servers:
  - url: https://fonzip.com/api/v2
    description: Fonzip API v2
paths:
  /token:
    post:
      tags: [Authentication]
      description: Returns token for access
      summary: Get Access Token
      operationId: getAccessToken
      requestBody:
        $ref: '#/components/requestBodies/GenerateToken'
      responses:
        200:
          $ref: '#/components/responses/GenerateToken'
        400:
          $ref: '#/components/responses/InvalidAuthorizationGrant'
        401:
          $ref: "#/components/responses/InvalidCredentials"
        402:
          $ref: "#/components/responses/InvalidGrant"
        405:
          $ref: "#/components/responses/InvalidRequestMethod"
        406:
          $ref: "#/components/responses/GrantTypeError"
        409:
          $ref: "#/components/responses/TokenAlreadyCreated"
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        500:
          $ref: "#/components/responses/GenerateTokenFail"
  /authorize:
    get:
      tags: [Authentication]
      description: Returns the consent page for OAuth2 authorization.
      summary: OAuth2 Authorize (GET)
      operationId: oauthAuthorizeGet
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK - Consent page rendered
        302:
          description: Found - Redirect to login if not authenticated
  /me:
    get:
      tags: [Authentication]
      description: Returns information about the authenticated association.
      summary: Get My Info
      operationId: getMe
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/GetMeResponse'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
  /users:
    post:
      tags: [Users]
      description: List Users
      summary: List Users
      operationId: getUserList
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/GetUserList'
      responses:
        200:
          $ref: '#/components/responses/GetUserListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/timeline:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: require_total
        in: query
        description: return total number of timeline events
        schema:
          type: boolean
      - name: notes_only
        in: query
        description: list only notes
        schema:
          type: boolean
      - name: tag_id
        in: query
        description: filter by note tag if notes_only is true
        schema:
          type: integer
      - $ref: '#/components/parameters/StartPage'
      - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users]
      description: List Users Timeline
      summary: List Users Timeline
      operationId: getUsersTimeline
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/GetUsersTimelineResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/tags:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Users, Tags]
      description: List Users Tags
      summary: List Users Tags
      operationId: getUsersTagsList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/GetUsersTagListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/tags/{tag_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags: [Users, Tags]
      description: Adds Tag to User
      summary: Adds Tag to User
      operationId: addTagToUser
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Users, Tags]
      description: Remove Tag from User
      summary: Removes Tag from User
      operationId: removeTagFromUser
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/donations:
    parameters: 
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users, Donations]
      description: List Users Donations
      summary: List Users Donations
      operationId: getUsersDonationList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UsersDonationListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/micro-donations:
    parameters: 
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users, Micro Donations]
      description: List Users Micro Donations
      summary: List Users Micro Donations
      operationId: getUsersMicroDonationList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UsersDonationListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/monthly-donations:
    parameters: 
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
    get:
      tags: [Users, Monthly Donations]
      description: List Users Monthly Donations
      summary: List Users Monthly Donations
      operationId: getUsersMonthlyDonationList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UsersMonthlyDonationListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/monthly-donations/{donation_id}/update-request:
    parameters: 
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
        - name: donation_id
          in: path
          required: true
          schema:
            type: integer
    post:
      tags: [Monthly Donations]
      description: Creates Monthly Donation Update Request
      summary: Create Monthly Donation Update Request
      operationId: createMonthlyDonationUpdateRequest
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateMonthlyDonationUpdateRequest'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/monthly-donations/{donation_id}/cc-update:
    parameters: 
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
        - name: donation_id
          in: path
          required: true
          schema:
            type: integer
    post:
      tags: [Monthly Donations]
      description: Sends Card Update Request For Monthly Donation
      summary: Send Card Update Request For Monthly Donation
      operationId: sendCardUpdateRequestForMonthlyDonation
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/SendCardUpdateRequestForMonthlyDonation'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /communication-permissions/{permission_type}:
    parameters:
      - name: permission_type
        in: path
        required: true
        schema:
          type: string
          description: |
            Permission Types <br>
            - email <br>
            - sms <br>
            - phone
          enum:
            - email
            - sms
            - phone
      - name: days
        in: query
        schema:
          type: integer
          description: Number of days before today.
          minimum: 1
          maximum: 7
          default: 3
      - $ref: '#/components/parameters/StartPage'
      - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Communication Permissions]
      description: Lists the communication permissions changed in the last X days
      summary: Lists the communication permissions changed in the last X days
      operationId: listChangedCommunicationPermissions
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/CommunicationPermissionList'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /communication-permissions/{permission_type}/{permission_value}:
    parameters:
      - name: permission_type
        in: path
        required: true
        schema:
          type: string
          description: |
            Permission Types <br>
            - email <br>
            - sms <br>
            - phone
          enum:
            - email
            - sms
            - phone
      - name: permission_value
        in: path
        required: true
        schema:
          type: string
          description: email or phone number in E164 format
    get:
      tags: [Communication Permissions]
      description: Lists the communication permissions of permission value
      summary: Lists the communication permissions of permission value
      operationId: getCommunicationPermissions
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/CommunicationPermissionList'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'  
    put:
      tags: [Communication Permissions]
      description: Updates the communication permissions of permission value
      summary: Updates the communication permissions of permission value
      operationId: updateCommunicationPermissions
      security:
        - Oauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - permission
                - update_date
              properties:
                permission:
                  type: boolean
                  description: communication permitted or not
                update_date:
                  type: string
                  format: date-time
                  description: value last update date
                details:
                  type: string
                  description: additional details like channel, IP address etc.
      responses:
        200:
          description: Permission Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  update_count:
                    type: integer
                    description: Updated permission count
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'  
  /monthly-donations/{donation_id}/update-request:
    parameters: 
        - name: donation_id
          in: path
          required: true
          schema:
            type: integer
    put:
      tags: [Monthly Donations]
      description: Cancels Monthly Donation
      summary: Cancel Monthly Donation
      operationId: cancelMonthlyDonation
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CancelMonthlyDonationRequest'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    patch:
      tags: [Monthly Donations]
      description: Responds Monthly Donation Amount Change Request
      summary: Respond Monthly Donation Amount Change Request
      operationId: respondMonthlyDonationAmountChangeRequest
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/RespondMonthlyDonationAmountChangeRequest'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /monthly-donations/{monthly_donation_order_id}:
    parameters: 
        - name: monthly_donation_order_id
          in: path
          required: true
          schema:
            type: string
            description: recurring_order_id of donation
    post:
      tags: [Monthly Donations]
      description: Changes Monthly Donation Values 
      summary: Change Monthly Donation Values
      operationId: changeMonthlyDonationValues
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/ChangeMonthlyDonationRequest'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/subscriptions:
    parameters: 
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: listing
        in: query
        required: false
        schema:
          type: string
          description: |
            Which operations should be fetched? <br>
            - a: all <br>
            - p: payments <br>
            - d: debts <br>
            - r: refunds
          enum:
            - a
            - p
            - d
            - d
      - $ref: '#/components/parameters/StartPage'
      - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users, Membership Dues]
      description: List Users Membership Dues
      summary: List Users Membership Dues
      operationId: getUsersMembershipDueList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UsersMembershipDuesResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/tickets:
    parameters: 
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/StartPage'
      - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users, Events]
      description: List Users Bought Tickets
      summary: List Users Bought Tickets
      operationId: getUserBoughtTicketList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/TicketListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/form-answers:
    parameters: 
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/StartPage'
      - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users, Forms]
      description: List Users Answers
      summary: List Users Answers
      operationId: getUserAnswerList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UsersFormAnswerListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/ecard-transactions:
    parameters: 
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/StartPage'
      - $ref: '#/components/parameters/HowMany'
    get:
      tags: [Users, E-Cards]
      description: List Users E-Cards
      summary: List Users E-Cards
      operationId: getUserEcardTransactionList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UserEcardTransactionListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}/login-link:
    parameters: 
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: redirection_type
        in: query
        schema:
          type: integer
          default: 5
          description: |
            redirection for login link
            - 3: Dues payment page of user
            - 4: Donations of user
            - 5: Main Page (Default)
            - 10: Membership Card
            - 12: Membership Dues Card Update
          enum:
            - 3
            - 4
            - 5
            - 10
            - 12
    get:
      tags: [Users]
      description: Generate Login Link For User
      summary: Generate Login Link For User
      operationId: generateLoginLinkForUser
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/LoginLinkResponse'
        400:
          $ref: '#/components/responses/Fail'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user/{user_id}:
    parameters: 
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Users]
      description: Get User Details
      summary: Get User Details
      operationId: getUserDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UserDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    put:
      tags: [Users]
      description: Update User
      summary: Update User
      operationId: updateUser
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateUser'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Users]
      description: Delete User
      summary: Delete User
      operationId: deleteUser
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user:
    post:
      tags: [Users]
      description: Create User
      summary: Create User
      operationId: createUser
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        200:
          $ref: '#/components/responses/CreateUserResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /user-defined-values:
    get:
      tags: [Users]
      description: List User Defined Values
      summary: List User Defined Values
      operationId: getUserDefinedValuesList
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/UserDefinedListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /tags:
    get:
      tags: [Tags]
      description: List Tags
      summary: List Tags
      operationId: getTagsList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
      responses:
        200:
          $ref: '#/components/responses/TagListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    post:
      tags: [Tags]
      description: Create Tag
      summary: Create Tag
      operationId: createTag
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateTag'
      responses:
        200:
          $ref: '#/components/responses/CreateTagResult'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /tags/{tag_id}:
    parameters: 
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
    put:
      tags: [Tags]
      description: Update Tag
      summary: Update Tag
      operationId: updateTag
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateTag'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Tags]
      description: Delete Tag
      summary: Delete Tag
      operationId: deleteTag
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donations:
    get:
      tags: [Donations]
      description: List Donations
      summary: List Donations
      operationId: getDonationList
      security:
        - Oauth: []
      parameters:
        - name: status
          in: query
          description: what kind of donations should be listed
          required: true
          schema:
            type: string
            default: paid
            enum:
              - paid
              - refund
              - failed
        - name: list
          in: query
          description: which values should be listed
          schema:
            type: array
            items:
              type: string
              description: field names
              enum:
                - details
                - name_surname
                - address
                - amount
                - sub_donation_type
                - birthday
                - email_status
                - complete_date
                - fundraising_campaign
                - tckno
                - tax_department
                - phone
                - donation_page
                - module
                - payment_method
                - added_by_id
                - f2f_group_id
                - fonzip_id
                - recurring_order_id
                - recurring_withdraw_count
                - recurring_total_withdraw_count
                - recurring_total_withdraw_amount
                - transaction_id
                - provision_no
                - auth_code
                - reference_id
                - ip_address
                - fundraising_campaign_user
                - api_tracking_id
                - news_via_phone
                - news_via_sms
                - news_via_email
                - application
                - card_number
                - receipt_no
                - donor_type
                - amount_visible
                - name_hidden
                - message
                - show_message
                - referring_name
                - referring_email
                - referring_phone
                - bank_account__name
                - payment_settings__name
                - recurring_cancel_reason
                - recurring_cancel_date
                - recurring_start_date
                - recurring_stop_date
                - cancelled_by_id
                - marketing_channel__utm_source
                - marketing_channel__utm_medium
                - marketing_channel__utm_campaign
                - marketing_channel__utm_content
        - name: category_id
          in: query
          description: donation category id, null for all
          schema:
            type: integer
            default: null
        - name: no_category
          in: query
          description: when true, return only donations that have no donation category assigned. Ignored if category_id is also supplied.
          schema:
            type: boolean
            default: null
        - name: donation_page
          in: query
          description: donation page id
          schema:
            type: integer
        - name: fundraising_campaign
          in: query
          description: fundraising campaign id
          schema:
            type: integer
        - name: association_campaign_target
          in: query
          description: fundraising event id
          schema:
            type: integer
        - name: payment_settings_id
          in: query
          description: payment settings id
          schema:
            type: integer
        - name: bank_account_id
          in: query
          description: bank account id
          schema:
            type: integer
        - name: utm_source
          in: query
          description: |
            Filter donations whose marketing channel `utm_source` matches one of
            the supplied values (IN-list). Repeat the parameter to supply
            multiple values, e.g. `?utm_source=google&utm_source=bing`.
          schema:
            type: array
            items:
              type: string
        - name: utm_medium
          in: query
          description: Filter donations by one or more `utm_medium` values (IN-list).
          schema:
            type: array
            items:
              type: string
        - name: utm_campaign
          in: query
          description: Filter donations by one or more `utm_campaign` values (IN-list).
          schema:
            type: array
            items:
              type: string
        - name: utm_content
          in: query
          description: Filter donations by one or more `utm_content` values (IN-list).
          schema:
            type: array
            items:
              type: string
        - name: marketing_channel_null
          in: query
          description: |
            When true, return only donations with no marketing channel attached
            (organic / direct traffic). Mutually exclusive with the four UTM
            filters above — when set, those are ignored.
          schema:
            type: boolean
            default: null
        - name: api_tracking_id
          in: query
          description: API Tracking ID
          schema:
            type: string
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            default: -transaction__complete_date
            enum:
              - name
              - -name
              - transaction__amount
              - -transaction__amount
              - transaction__complete_date
              - -transaction__complete_date
        - name: recurring
          in: query
          schema:
            type: integer
            default: -1
            description: |
              filter recurring donations
              - 1: only recurring,
              - 0: exclude recurring,
              - -1: list all
            enum:
              - 1
              - 0
              - -1
        - name: donor_type
          in: query
          schema:
            type: string
            default: null
            description: |
              filter donations by donor_type
              - null: all
              - personal: only personal donations
              - corporate: only corporate donations
            enum:
              - null
              - personal
              - corporate
        - $ref: '#/components/parameters/Amount'
        - $ref: '#/components/parameters/AmountCondition'
        - $ref: '#/components/parameters/BinNumber'
        - $ref: '#/components/parameters/LastFour'
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - $ref: '#/components/parameters/PaymentMethod'
      responses:
        200:
          $ref: '#/components/responses/DonationListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    post:
      tags: [Donations]
      description: Creates Donation. Card payment method is not allowed in API
      summary: Create Donation
      operationId: createDonation
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateDonationRequest'
      responses:
        200:
          $ref: '#/components/responses/CreateDonationResult'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donations/report:
    get:
      tags: [Donations]
      description: Get Donation Report
      summary: Get Donation Report
      operationId: getDonationReport
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: currency_id
          in: query
          description: currency id
          schema:
            type: integer
        - name: report_type
          in: query
          description: |
            report type
            - 1: donation category
            - 2: fundraising page
            - 3: fundraising campaign
            - 4: added by user
            - 5: donation form
            - 6: monthly donation status
            - 7: association campaign target
            - 8: fundraising team
            - 9: fundraising team campaign
            - 10: face to face group
            - 11: face to face group member
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
        - name: aggregate
          in: query
          description: aggregate results
          schema:
            type: string
            enum: ["true", "false"]
      responses:
        200:
          description: API result containing the report data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    description: Total amount of all aggregated items (if aggregate is true)
                    type: number
                  tc:
                    description: Total count of all aggregated items (if aggregate is true)
                    type: integer
                  tu:
                    description: Total unique users of all aggregated items (if aggregate is true)
                    type: integer
                  list:
                    description: Listed report groups (returned when aggregate is false)
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        ts:
                          description: Total amount of the group
                          type: number
                        tc:
                          description: Total count of the group
                          type: integer
                        tu:
                          description: Total unique users of the group
                          type: integer
                        sub_donation_type__name:
                          description: Donation category name
                          type: string
                        fundraising_page__title:
                          description: Fundraising page title
                          type: string
                        fundraising_campaign__title:
                          description: Fundraising campaign title
                          type: string
                        added_by_id:
                          description: Added by user ID
                          type: integer
                        added_by__name:
                          description: Added by user name
                          type: string
                        module__title:
                          description: Donation form title
                          type: string
                        status:
                          description: Recurring donation status
                          type: integer
                        sub_status:
                          description: Recurring donation sub status
                          type: integer
                        fundraising_campaign__association_campaign_target__title:
                          description: Association campaign target title
                          type: string
                        fundraising_campaign__team__title:
                          description: Fundraising team title
                          type: string
                        fundraising_campaign__team_campaign__title:
                          description: Fundraising team campaign title
                          type: string
                        f2f_group__name:
                          description: Face to face group name
                          type: string
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donation/{donation_id}:
    parameters: 
      - name: donation_id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Donations]
      description: Get Donation Details
      summary: Get Donation Details
      operationId: getDonationDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/DonationDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Donations]
      description: Delete Donation
      summary: Delete Donation
      operationId: deleteDonation
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donations/micro:
    get:
      tags: [Micro Donations]
      description: List Micro Donations
      summary: List Micro Donations
      operationId: getMicroDonationList
      security:
        - Oauth: []
      parameters:
        - name: status
          in: query
          description: what kind of Microdonations should be listed
          required: true
          schema:
            type: string
            default: paid
            enum:
              - paid
              - refund
              - failed
        - name: list
          in: query
          description: which values should be listed
          schema:
            type: array
            items:
              type: string
              description: field names
              enum:
                - details
                - name_surname
                - address
                - amount
                - sub_donation_type
                - birthday
                - email_status
                - complete_date
                - fundraising_campaign
                - tckno
                - tax_department
                - phone
                - donation_page
                - module
                - payment_method
                - added_by_id
                - f2f_group_id
                - fonzip_id
                - recurring_order_id
                - recurring_withdraw_count
                - recurring_total_withdraw_count
                - recurring_total_withdraw_amount
                - transaction_id
                - provision_no
                - auth_code
                - reference_id
                - ip_address
                - fundraising_campaign_user
                - api_tracking_id
                - news_via_phone
                - news_via_sms
                - news_via_email
                - application
                - card_number
                - receipt_no
                - donor_type
                - amount_visible
                - name_hidden
                - message
                - show_message
                - referring_name
                - referring_email
                - referring_phone
                - bank_account__name
                - payment_settings__name
                - recurring_cancel_reason
                - recurring_cancel_date
                - recurring_start_date
                - recurring_stop_date
                - cancelled_by_id
        - name: category_id
          in: query
          description: donation category id, null for all
          schema:
            type: integer
            default: null
        - name: no_category
          in: query
          description: when true, return only donations that have no donation category assigned. Ignored if category_id is also supplied.
          schema:
            type: boolean
            default: null
        - name: donation_page
          in: query
          description: donation page id
          schema:
            type: integer
        - name: fundraising_campaign
          in: query
          description: fundraising campaign id
          schema:
            type: integer
        - name: association_campaign_target
          in: query
          description: fundraising event id
          schema:
            type: integer
        - name: payment_settings_id
          in: query
          description: payment settings id
          schema:
            type: integer
        - name: bank_account_id
          in: query
          description: bank account id
          schema:
            type: integer
        - name: api_tracking_id
          in: query
          description: API Tracking ID
          schema:
            type: string
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            default: -transaction__complete_date
            enum:
              - name
              - -name
              - transaction__amount
              - -transaction__amount
              - transaction__complete_date
              - -transaction__complete_date
        - name: recurring
          in: query
          schema:
            type: integer
            default: -1
            description: |
              filter recurring donations
              - 1: only recurring,
              - 0: exclude recurring,
              - -1: list all
            enum:
              - 1
              - 0
              - -1
        - name: donor_type
          in: query
          schema:
            type: string
            default: null
            description: |
              filter donations by donor_type
              - null: all
              - personal: only personal donations
              - corporate: only corporate donations
            enum:
              - null
              - personal
              - corporate
        - $ref: '#/components/parameters/Amount'
        - $ref: '#/components/parameters/AmountCondition'
        - $ref: '#/components/parameters/BinNumber'
        - $ref: '#/components/parameters/LastFour'
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - $ref: '#/components/parameters/PaymentMethod'
      responses:
        200:
          $ref: '#/components/responses/DonationListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donation/micro/{donation_id}:
    parameters: 
      - name: donation_id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Micro Donations]
      description: Get Micro Donation Details
      summary: Get Micro Donation Details
      operationId: getMicroDonationDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/DonationDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donation-pages:
    get:
      tags: [Donation Pages]
      description: List Donation Pages
      summary: List Donation Pages
      operationId: getDonationPageList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - name: category_id
          in: query
          description: donation pages' donation category id
          schema:
            type: integer
        - name: payment_settings_id
          in: query
          description: donation pages' payment settings id
          schema:
            type: integer
      responses:
        200:
          $ref: '#/components/responses/DonationPageListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donation-forms:
    get:
      tags: [Donation Forms]
      description: List Donation Forms
      summary: List Donation Forms
      operationId: getDonationFormList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - name: category_id
          in: query
          description: donation forms' donation category id
          schema:
            type: integer
        - name: payment_settings_id
          in: query
          description: donation forms' payment settings id
          schema:
            type: integer
      responses:
        200:
          $ref: '#/components/responses/DonationFormListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /subscriptions:
    get:
      tags: [Membership Dues]
      description: List Membership Dues
      summary: List Membership Dues
      operationId: getMembershipDuesList
      security:
        - Oauth: []
      parameters:
        - name: status
          in: query
          description: |
            what kind of membership dues should be listed
            - paid: for payments
            - refund: for refunds
            - failed: for failed payment transactions
          required: true
          schema:
            type: string
            default: paid
            enum:
              - paid
              - refund
              - failed
        - name: period_year
          in: query
          description: Dues Period Year
          schema:
            type: integer
            default: null
        - name: period_month
          in: query
          description: Dues Period Month
          schema:
            type: integer
            default: null
        - $ref: '#/components/parameters/Amount'
        - $ref: '#/components/parameters/AmountCondition'
        - $ref: '#/components/parameters/BinNumber'
        - $ref: '#/components/parameters/LastFour'
        - name: installment_count
          in: query
          description: installment count
          schema:
            type: integer
        - name: tag_id
          in: query
          description: Tag id of user
          schema:
            type: integer
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            default: -transaction__complete_date
            enum:
              - id
              - -id
              - user__name
              - -user__name
              - transaction__amount
              - -transaction__amount
              - transaction__complete_date
              - -transaction__complete_date
        - name: membership_no
          in: query
          description: Membership number of user
          schema:
            type: integer
        - name: added_by_id
          in: query
          description: User id who added the payment
          schema:
            type: integer
        - name: added_by__name
          in: query
          description: User name (case-insensitive, unaccented) who added the payment. Used when added_by_id is not known.
          schema:
            type: string
            maxLength: 100
        - name: create_date
          in: query
          description: Record creation date filter
          schema:
            type: string
            format: date-time
        - name: create_date_cnd
          in: query
          description: Record creation date filter condition
          schema:
            type: string
            default: null
            enum:
             - null
             - "<"
             - ">"
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - $ref: '#/components/parameters/PaymentMethod'
      responses:
        200:
          $ref: '#/components/responses/MembershipDuesListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /subscription/{subscription_id}:
    parameters: 
      - name: subscription_id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Membership Dues]
      description: Get Membership Due Details
      summary: Get Membership Due Details
      operationId: getMembershipDueDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/MembershipDueDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Membership Dues]
      description: Delete Membership Due
      summary: Delete Membership Due
      operationId: deleteMembershipDue
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /debts:
    get:
      tags: [Membership Dues]
      description: List Membership Due Debts
      summary: List Membership Due Debts
      operationId: getMembershipDueDebtsList
      security:
        - Oauth: []
      parameters:
        - name: status
          in: query
          description: |
            what kind of membership due debts should be listed
            - null: All records
            - 1: Nonpaid debt
            - 6: Removed/Inactive debt
            - 8: Paid debt
          schema:
            type: integer
            default: null
            enum:
              - null
              - 1
              - 6
              - 8
        - name: period_year
          in: query
          description: Dues Period Year
          schema:
            type: integer
            default: null
        - name: period_month
          in: query
          description: Dues Period Month
          schema:
            type: integer
            default: null
        - $ref: '#/components/parameters/Amount'
        - $ref: '#/components/parameters/AmountCondition'
        - name: operation_date
          in: query
          description: Membership Due Operation Date
          schema:
            type: string
            format: date-time
        - name: membership_no
          in: query
          description: Membership number of user
          schema:
            type: integer
        - name: tag_id
          in: query
          description: Tag id of user
          schema:
            type: integer
        - name: added_by_id
          in: query
          description: User id who added the debt
          schema:
            type: integer
        - name: added_by__name
          in: query
          description: User name (case-insensitive, unaccented) who added the debt. Used when added_by_id is not known.
          schema:
            type: string
            maxLength: 100
        - name: create_date
          in: query
          description: Record creation date filter
          schema:
            type: string
            format: date-time
        - name: create_date_cnd
          in: query
          description: Record creation date filter condition
          schema:
            type: string
            default: null
            enum:
             - null
             - "<"
             - ">"
        - name: possible_duplicate
          in: query
          description: |
            When true, returns only debts whose (user, period, amount) tuple
            appears more than once in the association's debts.
          schema:
            type: boolean
            default: null
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            default: -operation_date
            enum:
              - id
              - -id
              - period
              - -period
              - amount
              - -amount
              - operation_date
              - -operation_date
              - create_date
              - -create_date
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
      responses:
        200:
          $ref: '#/components/responses/MembershipDueDebtListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /debt/{debt_id}:
    parameters: 
      - name: debt_id
        required: true
        in: path
        schema:
          type: integer
    get:
      tags: [Membership Dues]
      description: Get Debt Details
      summary: Get Debt Details
      operationId: getDebtDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/DebtDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    put:
      tags: [Membership Dues]
      description: Update Debt
      summary: Update Debt
      operationId: updateDebt
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateDebt'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    patch:
      tags: [Membership Dues]
      description: Update Debt Status
      summary: Update Debt Status
      operationId: updateDebtStatus
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateDebtStatus'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Membership Dues]
      description: Delete Debt
      summary: Delete Debt
      operationId: deleteDebt
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /debt:
    post:
      tags: [Membership Dues]
      description: Create Debt
      summary: Create Debt
      operationId: createDebt
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateDebt'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donation-categories:
    get:
      tags: [Donations]
      description: List Donation Categories
      summary: List Donation Categories
      operationId: getDonationCategoryList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
      responses:
        200:
          $ref: '#/components/responses/DonationCategoryListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    post:
      tags: [Donations]
      description: Create Donation Category
      summary: Create Donation Category
      operationId: createDonationCategory
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateUpdateCategory'
      responses:
        200:
          $ref: '#/components/responses/CreateCategorySuccess'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /donation-category/{category_id}:
    parameters: 
      - name: category_id
        in: path
        required: true
        schema:
          type: integer
    put:
      tags: [Donations]
      description: Update Donation Category
      summary: Update Donation Category
      operationId: updateDonationCategory
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateUpdateCategory'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    patch:
      tags: [Donations]
      description: Update Donation Category Status
      summary: Update Donation Category Status
      operationId: updateDonationCategoryStatus
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateStatus'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Donations]
      description: Delete Donation Category
      summary: Delete Donation Category
      operationId: deleteDonationCategory
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /events:
    get:
      tags: [Events]
      description: List Events
      summary: List Events
      operationId: getEventList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - name: target
          in: query
          description: |
            filter based on past or upcoming events
            - a: all
            - p: past
            - u: upcoming
          schema:
            type: string
            default: a
            enum:
              - a
              - p
              - u
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            default: "start_date"
            enum:
              - start_date
              - -start_date
              - name
              - -name
              - id
              - -id
        - name: archived
          in: query
          description: true for archived records, null for normal records
          schema:
            type: string
            default: null
            enum:
              - null
              - true
      responses:
        200:
          $ref: '#/components/responses/EventListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /event/{event_id}:
    parameters: 
      - name: event_id
        required: true
        in: path
        schema:
          type: integer
    get:
      tags: [Events]
      description: Get Event Details
      summary: Get Event Details
      operationId: getEventDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/EventDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    put:
      tags: [Events]
      description: "Updates Event. WARNING: You cannot use a ticket in multiple events."
      summary: Update Event
      operationId: updateEvent
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateEvent'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    patch:
      tags: [Events]
      description: Update Event Status
      summary: Update Event Status
      operationId: updateEventStatus
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventStatus'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Events]
      description: Delete Event
      summary: Delete Event
      operationId: deleteEvent
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /event:
    post:
      tags: [Events]
      description: "Creates Event. WARNING: You cannot use a ticket in multiple events."
      summary: Create Event
      operationId: createEvent
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateEvent'
      responses:
        200:
          $ref: '#/components/responses/CreateEventResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /ticket/{ticket_id}:
    parameters: 
      - name: ticket_id
        required: true
        in: path
        schema:
          type: integer
    get:
      tags: [Events]
      description: Get Ticket Details
      summary: Get Ticket Details
      operationId: getTicketDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/EventTicketDetail'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    put:
      tags: [Events]
      description: "Updates Ticket. WARNING: You cannot use a ticket in multiple events."
      summary: Update Ticket
      operationId: updateTicket
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateEventTicket'
      responses:
        200:
          $ref: '#/components/responses/EventTicketDetail'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    delete:
      tags: [Events]
      description: Delete Ticket
      summary: Delete Ticket
      operationId: deleteTicket
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /ticket:
    post:
      tags: [Events]
      description: "Creates Ticket. WARNING: You cannot use a ticket in multiple events."
      summary: Create Ticket
      operationId: createTicket
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateEventTicket'
      responses:
        200:
          $ref: '#/components/responses/EventTicketDetail'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /ticket-sales:
    get:
      tags: [Events]
      description: List Ticket Sales
      summary: List Ticket Sales
      operationId: getTicketSaleList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - $ref: '#/components/parameters/PaymentMethod'
        - name: time_selection
          in: query
          description: "date time range selection, 0 for date range selection (start_date & end_date must be present),  1 for all time (event_id must be present). "
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: event_id
          in: query
          description: to filter sales depending on event
          schema:
            type: integer
        - $ref: '#/components/parameters/Amount'
        - $ref: '#/components/parameters/AmountCondition'
        - $ref: '#/components/parameters/BinNumber'
        - $ref: '#/components/parameters/LastFour'
        - name: installment_count
          in: query
          description: installment count
          schema:
            type: integer
        - name: payment_settings_id
          in: query
          description: payment system id
          schema:
            type: integer
        - name: status
          in: query
          description: what kind of ticket sales should be listed
          required: true
          schema:
            type: string
            default: paid
            enum:
              - paid
              - refund
              - failed
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            default: -transaction__complete_date
            enum:
              - id
              - -id
              - transaction__amount
              - -transaction__amount
              - transaction__complete_date
              - -transaction__complete_date
      responses:
        200:
          $ref: '#/components/responses/TicketSaleListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /ticket-sale/{ticket_sale_id}:
    parameters: 
      - name: ticket_sale_id
        required: true
        in: path
        schema:
          type: integer
    get:
      tags: [Events]
      description: Get Ticket Sale Details
      summary: Get Ticket Sale Details
      operationId: getTicketSaleDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/TicketDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /fundraising-campaigns:
    get:
      tags: [Fundraising Campaigns]
      description: List Fundraising Campaigns
      summary: List Fundraising Campaigns
      operationId: getFundraisingCampaignList
      security:
        - Oauth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/StartPage'
        - $ref: '#/components/parameters/HowMany'
        - name: order_by
          in: query
          description: ordering
          schema:
            type: string
            enum:
              - user__name
              - -user__name
              - title
              - -title
              - create_date
              - -create_date
              - activation_date
              - -activation_date
              - donation_total
              - -donation_total
        - name: status
          in: query
          description: |
            fundraising campaign status list
            - 0: waiting approval
            - 1: approved
            - 2: rejected
            - 3: finalized
            - 4: deleted
            - 5: waiting extra approval
            - 7: archived
          schema:
            type: array
            items:
              type: integer 
              enum:
                - 0
                - 1
                - 7
                - 2
                - 3
                - 4
                - 5
        - name: category_id
          in: query
          description: fundraising campaigns' donation category id
          schema:
            type: integer
        - name: team_campaign_id
          in: query
          description: fundraising campaign teams' campaign id
          schema:
            type: integer
        - name: payment_settings_id
          in: query
          description: fundraising campaigns' payment settings id
          schema:
            type: integer
        - name: association_campaign_target_id
          in: query
          description: fundraising campaigns' fundraising event id
          schema:
            type: integer
        - name: create_date
          in: query
          description: create date filter
          schema:
            type: string
            format: date-time
        - name: create_date_cnd
          in: query
          description: create date filter condition
          schema:
            type: string
            default: null
            enum:
             - null
             - "<"
             - ">"
      responses:
        200:
          $ref: '#/components/responses/FundraisingCampaignListResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    post:
      tags: [Fundraising Campaigns]
      description: Create Fundraising Campaign
      summary: Create Fundraising Campaign
      operationId: createFundraisingCampaign
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/FundraisingCampaign'
      responses:
        200:
          $ref: '#/components/responses/CreateFundraisingCampaignResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
  /fundraising-campaign/{campaign_id}:
    parameters: 
      - name: campaign_id
        required: true
        in: path
        schema:
          type: integer
    get:
      tags: [Fundraising Campaigns]
      description: Get Fundraising Campaign Details
      summary: Get Fundraising Campaign Details
      operationId: getFundraisingCampaignDetails
      security:
        - Oauth: []
      responses:
        200:
          $ref: '#/components/responses/FundraisingCampaignDetailsResponse'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
          $ref: '#/components/responses/UnauthorizedAccess'
        402:
          $ref: '#/components/responses/NoValidPlan'
        403:
          $ref: '#/components/responses/NoPermission'
        404:
          $ref: '#/components/responses/ObjectNotFound'
        405:
          $ref: '#/components/responses/InvalidRequest'
        429:
          $ref: "#/components/responses/RateLimitExceeded"
        501:
          $ref: '#/components/responses/NotImplemented'
    put:
      tags: [Fundraising Campaigns]
      description: Update Fundraising Campaign
      summary: Update Fundraising Campaign
      operationId: updateFundraisingCampaign
      security:
        - Oauth: []
      requestBody:
        $ref: '#/components/requestBodies/FundraisingCampaignUpdate'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/OperationFailed'
        401:
[...]
